.container {
    padding-top:25px;
    padding-left:160px;
}

.container .row .col-lg-9 .card{
    width:800px;
}

.container .row .col-lg-9 .card .card-img-top {
    width:800px;
    height:350px;
}

.container .row .col-lg-9 .card-text {
    font-size:16px;
}

.btn {
    width:90px;
    height:45px;
}